:root {
  --main-bg-color: black;
  --accent-color: white;
}

body {
  background-color: var(--main-bg-color);
  color: var(--accent-color);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  cursor: url(https://cur.cursors-4u.net/mechanics/mec-5/mec474.cur), auto !important;
}

.content {
  flex: 1;
  width: 100%;
}

#ascii-art {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  white-space: pre;
  overflow-x: auto;
  color: var(--accent-color);
  margin-bottom: -30px;
}

#ascii-art2 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  white-space: pre-wrap;
  overflow-x: auto;
  color: var(--accent-color);
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
}

.glow-image, .horizontal-image {
  display: block;
  margin: 20px auto;
  padding: 5px;
  width: 100%;
  max-width: 600px;
  border: 1px solid var(--accent-color);
  box-shadow: 0 0 50px var(--accent-color);
  animation: mainImageGlow 3s ease-in-out infinite;
}

@keyframes mainImageGlow {
  0%, 100% { box-shadow: 0 0 40px var(--accent-color); }
  50% { box-shadow: 0 0 60px var(--accent-color); }
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 88px);
  grid-gap: 10px;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.footer img {
  width: 88px;
  height: 31px;
  animation: bumperGlow 1.5s ease-in-out infinite;
}

@keyframes bumperGlow {
  0%, 100% { box-shadow: 0 0 20px var(--accent-color); }
  50% { box-shadow: 0 0 30px var(--accent-color); }
}

.pagination-links {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin: 20px 0;
  font-size: 18px;
}

.text-box a:hover {
  text-decoration: underline;
}

.pagination-links a {
  color: var(--accent-color);
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s, text-decoration 0.3s;
}

.pagination-links a:hover,
.pagination-links a:visited {
  text-decoration: underline;
  color: var(--accent-color);
}

.pagination-links a:active {
  color: var(--accent-color);
}

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.bulletin, .bulletin2 {
  font-family: "Times New Roman", Times, serif;
  color: var(--accent-color);
  width: 80%;
  max-width: 800px;
  text-align: center;
  margin: 10px 0;
}

.bulletin {
  font-size: 24px;
}

.bulletin2 {
  font-size: 18px;
  text-align: left;
}

.bulletin2 a:visited {
  color: white;
  text-decoration: none;
}